* {
    box-sizing: border-box;
}

.clear {
    clear:left;
}

body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
    text-decoration: none;
}

header {
    height: 100px;
    width: 100%;
    background-color: rgb(61, 189, 189,0.7);
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-left {
    float: left;
}

.logo {
    width: 150px;
    margin: 15px 15px;
    border: px solid#fff;
}

.header-right {
    float: right;
    margin-right: px;
}

.header-right img {
    width: 25px;
    padding-right: 14%;
    margin-right: -10%;
}

.header-right a {
    line-height: 100px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color:rgb(255, 255, 255,0.3);
}

.heading {
    border-bottom: solid 3px#fff;
    margin-bottom: 15px;
}

.top-wrapper {
    background-image: url(/images/地球.jpg);
    height: auto;
    padding: 180px 10% 450px 10%;
    background-size: cover;
    text-align: center;
}

.top-wrapper h3 {
    font-size: 25px;
    letter-spacing: 4px;
    color: rgb(255, 255, 255,0.8);
}

.top-content {
    float: left;
    width: 25%;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding:0px 1% 0px 1%;
    box-shadow: 0px 10px 16px -2px rgba(10, 10, 10, 0.1), 
        0px 0px 5px -10px rgba(10, 10, 10, 0.02);

}

.top-content img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.3s;
}

.top-content img:hover {
    color: white;
    opacity: 0.7;
    transform: scale(1.1);
}

.contents-image {
    position: relative;
    border: 1px solid#fff;
    overflow: hidden;
}

.contents-image p {
    position: absolute;
    top: 50%;
    width: 100%;
    height: auto;
    color: #fff;
    border:1px solid #fff;
    font-weight: bold;
    
}

footer  {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: rgb(61, 189, 189,0.7);
    
}

footer p {
    color: white;
    padding-left: 10px;
}

footer img {
    width: 100px;
}
